<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 开启Spring组件扫描 -->
	<context:component-scan base-package="net.yourzjf.myweb" />
	<!-- 支持注解 -->
	<mvc:annotation-driven enable-matrix-variables="true" />
	<!-- 指定静态资源文件 -->
	<mvc:resources location="/resources/" mapping="/resources/**" />
	<!-- 指定默认首页 -->
	<mvc:default-servlet-handler />
	<!-- beans -->

	<!-- 默认的视图 -->
	<bean id="irViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 使视图接受Jstl标签 -->
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<!-- 视图的前缀 -->
		<property name="prefix" value="/WEB-INF/jsp/" />
		<!-- 视图的后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 异常处理的全局定义 -->
	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<!-- 将异常类型和对应的视图写入到properties中 -->
		<property name="exceptionMappings">
			<props>
				<!-- <prop key="异常类">视图</prop> -->
				<prop key="net.yourzjf.myweb.UserException">error</prop>
			</props>
		</property>
	</bean>

	<!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes -->
		<property name="maxUploadSize" value="5120000" />
	</bean>

</beans>